#cont_1{
    background-color: darkslateblue;
    text-align: center;
    font-size: xx-large;
}
#myModalLabel{
    font-size: xx-small;
}
#boton_Contacto {
    
    text-align: center;
    font-weight: 200;
}
